<h2>{{title}}</h2>
<h4>By: {{author}}</h4>
<div>{{body}}</div>
<a href="/articles/{{title}}/edit">Edit</a>
<br>
<a href="/articles">Return to articles list</a>
<form action="/articles/{{title}}?_method=DELETE" method="POST">
  <button type="submit">DELETE ARTICLE</button>
</form>