<form action="/articles/{{urlTitle}}?_method=PUT" method="POST">
  {{urlTitle}}
  Title:
  <input type="text" name='title' value="{{title}}" id='editTitleInput'>
  {{#if invalidTitle}} 
  {{>invalidTitleErr}}
  {{/if}}
  <br> Author:
  <input type="text" name='author' value="{{author}}" id='editAuthorInput'>
  <br> Body:
  <input type="text" name='body' value="{{body}}" id='editBodyInput'>
  <br>
  <button type="submit">SUBMIT CHANGES</button>
  <a href="/articles/{{title}}">Return to article page</a>
</form>