<form action="/products/{{id}}?_method=PUT" method="POST">
name: <input type = "text" name = 'name' value = {{name}} id = 'editNameInput'>
price: <input type = "text" name = 'price' value = {{price}} id = 'editPriceInput'>
inventory: <input type = "text" name = 'inventory' value = {{inventory}} id = 'editInventoryInput'>
<button type="submit">SUBMIT CHANGES</button>
<a href="http://www.localhost:8080/products">Return to products list</a>
</form>
<form action="/products/{{id}}?_method=DELETE" method = "POST">
<button type = "submit">DELETE PRODUCT</button>
</form>
