  <form action="/products" method='POST'>
  Name:
<input type="text" name="name" {{#if invalidPrice}} value={{name}} {{/if}} {{#if invalidInventory}} value={{name}} {{/if}} id='productNameInput'>
     <br>
  Price:
<input type="text" name="price" {{#if invalidPrice}} value={{price}} {{/if}} {{#if invalidInventory}} value={{price}} {{/if}} id = 'productPriceInput'>
   {{#if invalidPrice}} {{>invalidPriceErr}} {{/if}}
     <br>
  Inventory:
<input type="text" {{#if invalidPrice}} value={{inventory}} {{/if}} {{#if invalidInventory}} value={{inventory}} {{/if}} name="inventory" id ="productInventoryInput">
   {{#if invalidInventory}} {{>invalidInventoryErr}} {{/if}}
     <br>
    <button type="submit">SUBMIT</button>
    <br>
    <a href="/products">Return to products list</a>
  </form>