<h2>{{name}}</h2>
<div>Price: {{price}}</div>
<div>Inventory: {{inventory}}</div>
<br>
<a href="/products/{{id}}/edit">Edit</a>
<br>
<br>
<form action="/products/{{id}}?_method=DELETE" method = 'POST'>
<button type = 'submit'>DELETE PRODUCT</button>
</form>
<br>
<br>
<a href="/products">Return to products list</a>